[MASTER]
extension-pkg-whitelist=PyQt6,PyQt5,pyzstd


[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  line-too-long,
  missing-module-docstring,
  missing-function-docstring,
  redefined-builtin,

[BASIC]
good-names =
  i,
  mw,
